<nav class="nav-extended">
    <div class="nav-wrapper z-depth-3">
        <a [routerLink]="['home']" class="left brand-logo"><img [src]="data.logo" height="60" alt="logo"></a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['home']">Home</a></li>
            <li><a [routerLink]="['work']">Work</a></li>
            <li><a [routerLink]="['about']">About</a></li>
            <li><a class="waves-effect waves-light btn pulse" [routerLink]="['contact']"><i class="material-icons left">email</i>Contact</a>
            </li>
        </ul>
        <ul class="right show-on-med-and-down hide-on-large-only">
            <li><a [routerLink]="['home']"><i class="material-icons">home</i></a></li>
            <li><a [routerLink]="['work']"><i class="material-icons">code</i></a></li>
            <li><a [routerLink]="['about']"><i class="material-icons">face</i></a></li>
            <li><a class="btn-floating pulse" [routerLink]="['contact']"><i class="material-icons">email</i></a>
            </li>

        </ul>
    </div>
</nav>
