.nav-extended {
    min-height: 75px;
}

.nav-wrapper {
    background-color: #0F2027 !important;
    min-height: 75px !important;
}

img {
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.btn {
    border-radius: 20px !important;
}